body {
  background: black;
  color: #eee;
}

.beatView {
  display: block;
  position: fixed;
  overflow: hidden;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -101;
  text-align: center;
}

.beatView video {
  position: fixed;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  margin: 0 auto;
}

.admin {
  padding: 10px;
}
